p {
    margin: 0;
}

#main {
    background-color: aqua;
    border-width: 2px;
    border-style: solid;
    border-color: green;
}

#spis {
    background-color: bisque;
    float: left;
    width: 500px;
}

#text {
    background-color: darkgray;
    margin-left: 500px;
}

#hom {
    float: right;
    width: 50%;
}

@media screen and (max-width: 1000px) {
    #spis {
        width: 120px;
    }
    #text {
        margin-left: 120px;
    }
    #hom {
        width: 220px;
    }
}