#main {
    background-color: aqua;
    border-width: 2px;
    border-style: solid;
    border-color: green;
}

#spis {
    background-color: bisque;
    float: left;
    width: 500px;
}

#text {
    background-color: darkgray;
    margin-left: 500px;
}
@media screen and (max-width: 900px)
{
    #spis{
        height: 0;
        width: 100%;
    }
    ul{
        background-color: bisque;
    }
    li{
        display: inline;
    }
    #text{
        clear: left;
        margin: 50px 0 0 0;
    }
}